
.content-table{
  border-collapse: collapse;
  margin: 80px 150px;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead tr{
  background-color: #009879;
  color: #fff;
  text-align: left;
  font-weight: normal;
}  

.content-table th,
.content-table td{
  padding: 12px 150px;
}


.content-table tbody tr{
  border-bottom: 1px solid #ddd;
}

.content-table tbody tr: nth-of-type(even) {
  background-color: #000;
}




/*RESPONSIVE*/

@media only screen and (min-width: 300px) and (max-width:400px){


.content-table{
  border-collapse: collapse;
  margin: 120px 10px;
  font-size: 0.9em;
  min-width: 340px;

} 

.content-table th,
.content-table td{
  padding: 15px 5px;
}

}


@media only screen and (min-width: 400px) and (max-width:600px){



.content-table{
  border-collapse: collapse;
  margin: 120px 10px;
  font-size: 0.9em;
  min-width: 340px;

} 

.content-table th,
.content-table td{
  padding: 15px 35px;
}

}


@media only screen and (min-width: 600px) and (max-width:750px){


.content-table{
  border-collapse: collapse;
  margin: 120px 20px;
  font-size: 0.9em;
  min-width: 340px;

} 

.content-table th,
.content-table td{
  padding: 15px 55px;
}

}





@media only screen and (min-width: 750px) and (max-width:1030px){


.content-table{
  border-collapse: collapse;
  margin: 80px 10px;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead tr{
  background-color: #009879;
  color: #fff;
  text-align: left;
  font-weight: normal;
}  

.content-table th,
.content-table td{
  padding: 12px 90px;
}


.content-table tbody tr{
  border-bottom: 1px solid #ddd;
}

.content-table tbody tr: nth-of-type(even) {
  background-color: #000;
}

}








