.services .row h1{
	font-size: 2vw;
}


@media only screen and (min-width:  315px) and (max-width: 600px){
	.services .row h1{
	font-size: 6vw;
}
}

@media only screen and (min-width:  600px) and (max-width: 900px){
	.services .row h1{
	font-size: 4vw;
}
}

@media only screen and (min-width:  900px) and (max-width: 1050px){
	.services .row h1{
	font-size: 3vw;
}
}

@media only screen and (min-width:  1050px) and (max-width: 1250px){
	.services .row h1{
	font-size: 2.5vw;
}
}
